@media (max-width: 376px) {
    * {
        margin: 0;
        padding: 0;
      }
    .center {
        padding-left: 15px;
        padding-right: 15px;
    }
    .heading {
        background: #E1FF8F url(images/star-decoration-mobile.png) no-repeat;  
        text-align: center;
    &__title {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        width: auto;
        letter-spacing: 0px;
        padding-top: 147px;
        text-align: center;
    }
    &__subtitle{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        width: auto;
    }
    &__button {
        margin-top: 36px;
    }
    }
    .about {
        display: none;
    }
    .mini-games {
        padding-bottom: 48px;
        padding-left: 16px;
        &__title {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: left;
        width: auto;
        display: flex;
        padding-top: 48px;
        padding-bottom: 48px;
        }
        &__cards{
        display: flex;
        flex-direction: column;
        width: 343px;
        }
        &__one, &__two, &__three, &__four, &__five, &__six {
        width: 343px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 24px;
        }
        &__info{
        width: auto;
        padding: 29px 29px 32px 29px ;
        }
        &__name {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
        }
        &__description {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        }
        &__picture {
        width: 343px;
        height: 285px;
        border-radius: 27.22px;
        }
        &__button{
        width: 285px;
        height: 55px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        margin-top: 32px;
        }


    }
}