@media (max-width: 544px) {
    .center {
        padding-left: 15px;
        padding-right: 15px;
    }
    .heading {
        height: 700px;
        background: #E1FF8F url(images/star-decoration-mobile.png) no-repeat;  
        text-align: center;
    &__title {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        width: auto;
        letter-spacing: 0px;
        padding-top: 147px;
        text-align: center;
    }
    &__subtitle{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        width: auto;
    }
    &__button {
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        width: 285px;
        height: 55px;
        align-items: center;
        padding: 16px 28px 16px 28px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        margin-top: 36px;
    }
    }
    .about {
        display: none;
    }
    .mini-games {
        padding-top: 0px;
        padding-bottom: 48px;
        padding-left: 16px;
        &__title {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: left;
        width: auto;
        display: flex;
        padding-top: 48px;
        padding-bottom: 48px;
        }
        &__cards{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        margin-top: -24px;
        }
    }

    .mini-games-card{ 
        max-width: 343px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 24px;
        &__info{
        width: auto;
        padding: 29px 29px 32px 29px ;
        }
        &__name {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
        }
        &__description {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 16px;
        }
        &__image {
        width: auto;
        height: auto;
        border-radius: 27.22px;
        }
        &__button{
        width: 285px;
        height: 55px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        margin-top: 32px;
        }

    }
}