body { 
    background-color: #000000;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.heading { 
    align-items: center;
    height: 751px;/*800-49 */
    width: auto;
    background: #E1FF8F url(images/star-decoration.png) no-repeat -10% 80%;  
    &__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-top: 196px;
    width: 768px;
    }
    &__subtitle {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    padding-top: 24px;
    }
    &__button {
    width: 247px;
    height: 66px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    margin-top: 48px;
    }
}

button {
    cursor: pointer; 
    border: none;
    transition: all 0.3s ease; 
}
button:hover {
    background-color: #fff; 
    color: #000; 
    border: 1px solid rgb(32, 32, 39);           
}
.about {
    height: 1470px;
    background: #000000 url(images/star-decoration-about.png) no-repeat -10% top;
    &__title, .mini-games__title{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-top: 46px;
    }
    &__subtitle {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 24px;
    padding-bottom: 72px;
    }
}
.game-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 1200px;
    &__one{
    height: 473px;
   /*314 картинка+ 159 инфоблок*/ 
    }
    &__two{
    height: 512px;
   /*314 картинка+ 198 инфоблок*/ 
    }
    &__three{
    height: 473px;
   /*314 картинка+ 159 инфоблок*/ 
    }
    &__four{
    height: 551px;
    position: relative;
    bottom: 40px;
   /*314 картинка+ 237 инфоблок*/ 
    }
    &__five{
    height: 512px;
   /*314 картинка+ 198 инфоблок*/ 
    }
    &__six{
    height: 551px;
    position: relative;
    bottom: 40px;
   /*314 картинка+ 237 инфоблок*/ 
    }
    &__picture {
    border-radius: 30px;
    }
    &__number {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    padding: 8px 16px 10px 16px;
    border-radius: 30px;
    background: rgb(247, 247, 247);
    margin-top: 32px;
    margin-left: 32px;
    width: fit-content;
    }
    &__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding: 16px 32px 36px 32px;
    }
}
.game-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
    width: 378px; 
}
.mini-games {
    background: #000000 url(images/star-decoration-minigames.png) no-repeat right top;
    padding-bottom: 144px;
    &__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    }
}
.mini-games-card{ 
    &_one, &_three, &_four {
    margin-top: 72px;
    display: flex;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
    justify-content: space-between;
    }
    &_two, &_five, &_six {
    margin-top: 72px;
    display: flex;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
    justify-content: space-between;
    flex-direction: row-reverse;
    }
    &__info {
    display: flex;
    flex-direction: column;
    padding: 48px;
    width: 600px;
    }
    &__name {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    }
    &__description {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 24px;
    }
    &__button {
    width: 247px;
    height: 66px;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    padding: 16px 28px 16px 28px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    margin-top: 36px;
    }
    &__image{
    border-radius: 30px;
    width: 600px;
    height: 500px;
    }
}

.footer {
    background: #E1FF8F;
    height: 150px;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; 
    width: auto;
    &__info {
    overflow-wrap: break-word;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: rgb(0, 0, 0);
    }
}

@import 'mobile';
@import 'tablet';
@import 'tabletMini';